<hr>
<h3 id="drinks">{{bebidas.dataValues.title}}</h3>
<p>
    {{bebidas.dataValues.desc}}
</p>
<table class="table table-striped cart-list ">
    <thead>
        <tr>
            <th>
                {{bebidas.dataValues.tabela1}}
            </th>
            <th>
                {{bebidas.dataValues.tabela2}}
            </th>
            <th>
                {{bebidas.dataValues.tabela3}}
            </th>
        </tr>
    </thead>
    <tbody>
        <td colspan="3">
            <h5>1. {{bebidas.dataValues.title1}}</h5></td>
        <tr>
            <td>
                <figure class="thumb_menu_list"><img src="img/menu-thumb-21.jpg" alt="thumb"></figure>
                
            </td>
            <td>
                <strong>R$ {{bebidas.dataValues.valor1}}</strong>
            </td>
            <td class="options">
                 <div class="dropdown dropdown-options">
                <a href="#"  data-toggle="dropdown" aria-expanded="true"><i><img src="img/sinais.png" alt="sinal" style="width: 28px;"></i></a>
                <div class="dropdown-menu">
                <a href="#0" class="add_to_basket">Adicionar ao carrinho</a>
                </div>
                </div>
            </td>
        </tr>
        <td colspan="3">
            
                <p>
                   {{bebidas.dataValues.desc1}}
                </p>
                 <h5>2. {{bebidas.dataValues.title2}}</h5>
        </td>
        <tr>
            <td>
                <figure class="thumb_menu_list"><img src="img/menu-thumb-22.jpg" alt="thumb"></figure>
                
            </td>
            <td>
                <strong>R$ {{bebidas.dataValues.valor2}}</strong>
            </td>
           <td class="options">
                 <div class="dropdown dropdown-options">
                <a href="#"  data-toggle="dropdown" aria-expanded="true"><i><img src="img/sinais.png" alt="sinal" style="width: 28px;"></i></a>
                <div class="dropdown-menu">
                <a href="#0" class="add_to_basket">Adicionar ao carrinho</a>
                </div>
                </div>
            </td>
        </tr>
        <td colspan="3">
           
                <p>
                    {{bebidas.dataValues.desc2}}
                </p>
                <h5>3. {{bebidas.dataValues.title3}}</h5>
        </td>
        <tr>
            <td>
                <figure class="thumb_menu_list"><img src="img/menu-thumb-23.jpg" alt="thumb"></figure>
               
            </td>
            <td>
                <strong>R$ {{bebidas.dataValues.valor3}}</strong>
            </td>
            <td class="options">
                 <div class="dropdown dropdown-options">
                <a href="#"  data-toggle="dropdown" aria-expanded="true"><i><img src="img/sinais.png" alt="sinal" style="width: 28px;"></i></a>
                <div class="dropdown-menu">
                <a href="#0" class="add_to_basket">Adicionar ao carrinho</a>
                </div>
                </div>
            </td>
        </tr>
        <td colspan="3">
             
                <p>
                    {{bebidas.dataValues.desc3}}
                </p>
                 <h5>4. {{bebidas.dataValues.title4}}</h5>
        </td>
        <tr>
            <td>
                <figure class="thumb_menu_list"><img src="img/menu-thumb-24.jpg" alt="thumb"></figure>
                
            </td>
            <td>
                <strong>R$ {{bebidas.dataValues.valor4}}</strong>
            </td>
            <td class="options">
                 <div class="dropdown dropdown-options">
                <a href="#"  data-toggle="dropdown" aria-expanded="true"><i><img src="img/sinais.png" alt="sinal" style="width: 28px;"></i></a>
                <div class="dropdown-menu">
                <a href="#0" class="add_to_basket">Adicionar ao carrinho</a>
                </div>
                </div>
            </td>
        </tr>
        <td colspan="3">
           
                <p>
                    {{bebidas.dataValues.desc4}}
                </p>
                <h5>3. {{bebidas.dataValues.title5}}</h5>
        </td>
        <tr>
            <td>
                <figure class="thumb_menu_list"><img src="img/menu-thumb-23.jpg" alt="thumb"></figure>
                
            </td>
            <td>
                <strong>R$ {{bebidas.dataValues.valor5}}</strong>
            </td>
            <td class="options">
                 <div class="dropdown dropdown-options">
                <a href="#"  data-toggle="dropdown" aria-expanded="true"><i><img src="img/sinais.png" alt="sinal" style="width: 28px;"></i></a>
                <div class="dropdown-menu">
                <a href="#0" class="add_to_basket">Adicionar ao carrinho</a>
                </div>
                </div>
            </td>
        </tr>
        <td colspan="3">
                <p>
                    {{bebidas.dataValues.desc5}}
                </p>
                 <h5>4. {{bebidas.dataValues.title6}}</h5>
                </td>
        <tr>
            <td>
                <figure class="thumb_menu_list"><img src="img/menu-thumb-24.jpg" alt="thumb"></figure>
                
            </td>
            <td>
                <strong>R$ {{bebidas.dataValues.valor6}}</strong>
            </td>
            <td class="options">
                 <div class="dropdown dropdown-options">
                <a href="#"  data-toggle="dropdown" aria-expanded="true"><i><img src="img/sinais.png" alt="sinal" style="width: 28px;"></i></a>
                <div class="dropdown-menu">
                <a href="#0" class="add_to_basket">Adicionar ao carrinho</a>
                </div>
                </div>
            </td>
        </tr>
        <td colspan="3">
           
                <p>
                    {{bebidas.dataValues.desc6}}
                </p>
                <h5>3. {{bebidas.dataValues.title7}}</h5>
        </td>
        <tr>
            <td>
                <figure class="thumb_menu_list"><img src="img/menu-thumb-23.jpg" alt="thumb"></figure>
                
            </td>
            <td>
                <strong>R$ {{bebidas.dataValues.valor7}}</strong>
            </td>
             <td class="options">
                 <div class="dropdown dropdown-options">
                <a href="#"  data-toggle="dropdown" aria-expanded="true"><i><img src="img/sinais.png" alt="sinal" style="width: 28px;"></i></a>
                <div class="dropdown-menu">
                <a href="#0" class="add_to_basket">Adicionar ao carrinho</a>
                </div>
                </div>
            </td>
        </tr>
        <td colspan="3">
                <p>
                    {{bebidas.dataValues.desc7}}
                </p>
                <h5>4. {{bebidas.dataValues.title8}}</h5>
                </td>
        <tr>
            <td>
                <figure class="thumb_menu_list"><img src="img/menu-thumb-24.jpg" alt="thumb"></figure>
                
            </td>
            <td>
                <strong>R$ {{bebidas.dataValues.valor8}}</strong>
            </td>
           <td class="options">
                 <div class="dropdown dropdown-options">
                <a href="#"  data-toggle="dropdown" aria-expanded="true"><i><img src="img/sinais.png" alt="sinal" style="width: 28px;"></i></a>
                <div class="dropdown-menu">
                <a href="#0" class="add_to_basket">Adicionar ao carrinho</a>
                </div>
                </div>
            </td>
        </tr>
        <td colspan="3">
                <p>
                    {{bebidas.dataValues.desc8}}
                </p></td>
    </tbody>
</table>
</div><!-- End box_style_1 -->
</div><!-- End col-md-6 -->

