<hr>
<h3 id="drinks">{{bebidas.dataValues.title}}</h3>
<p>
    {{bebidas.dataValues.desc}}
</p>
<table class="table table-striped cart-list ">
    <thead>
        <tr>
            <th>
                {{bebidas.dataValues.tabela1}}
            </th>
            <th>
                {{bebidas.dataValues.tabela2}}
            </th>
            <th>
                {{bebidas.dataValues.tabela3}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <figure class="thumb_menu_list"><img src="img/menu-thumb-21.jpg" alt="thumb"></figure>
                <h5>1. {{bebidas.dataValues.title1}}</h5>
                <p>
                   {{bebidas.dataValues.desc1}}
                </p>
            </td>
            <td>
                <strong>R$ {{bebidas.dataValues.valor1}}</strong>
            </td>
            <td class="options">
                <a href="#0"><i class="icon_plus_alt2"></i></a>
            </td>
        </tr>
        <tr>
            <td>
                <figure class="thumb_menu_list"><img src="img/menu-thumb-22.jpg" alt="thumb"></figure>
                <h5>2. {{bebidas.dataValues.title2}}</h5>
                <p>
                    {{bebidas.dataValues.desc2}}
                </p>
            </td>
            <td>
                <strong>R$ {{bebidas.dataValues.valor2}}</strong>
            </td>
            <td class="options">
                <a href="#0"><i class="icon_plus_alt2"></i></a>
            </td>
        </tr>
        <tr>
            <td>
                <figure class="thumb_menu_list"><img src="img/menu-thumb-23.jpg" alt="thumb"></figure>
                <h5>3. {{bebidas.dataValues.title3}}</h5>
                <p>
                    {{bebidas.dataValues.desc3}}
                </p>
            </td>
            <td>
                <strong>R$ {{bebidas.dataValues.valor3}}</strong>
            </td>
            <td class="options">
                <a href="#0"><i class="icon_plus_alt2"></i></a>
            </td>
        </tr>
        <tr>
            <td>
                <figure class="thumb_menu_list"><img src="img/menu-thumb-24.jpg" alt="thumb"></figure>
                <h5>4. {{bebidas.dataValues.title4}}</h5>
                <p>
                    {{bebidas.dataValues.desc4}}
                </p>
            </td>
            <td>
                <strong>R$ {{bebidas.dataValues.valor4}}</strong>
            </td>
            <td class="options">
                <a href="#0"><i class="icon_plus_alt2"></i></a>
            </td>
        </tr>
        <tr>
            <td>
                <figure class="thumb_menu_list"><img src="img/menu-thumb-23.jpg" alt="thumb"></figure>
                <h5>3. {{bebidas.dataValues.title5}}</h5>
                <p>
                    {{bebidas.dataValues.desc5}}
                </p>
            </td>
            <td>
                <strong>R$ {{bebidas.dataValues.valor5}}</strong>
            </td>
            <td class="options">
                <a href="#0"><i class="icon_plus_alt2"></i></a>
            </td>
        </tr>
        <tr>
            <td>
                <figure class="thumb_menu_list"><img src="img/menu-thumb-24.jpg" alt="thumb"></figure>
                <h5>4. {{bebidas.dataValues.title6}}</h5>
                <p>
                    {{bebidas.dataValues.desc6}}
                </p>
            </td>
            <td>
                <strong>R$ {{bebidas.dataValues.valor6}}</strong>
            </td>
            <td class="options">
                <a href="#0"><i class="icon_plus_alt2"></i></a>
            </td>
        </tr>
        <tr>
            <td>
                <figure class="thumb_menu_list"><img src="img/menu-thumb-23.jpg" alt="thumb"></figure>
                <h5>3. {{bebidas.dataValues.title7}}</h5>
                <p>
                    {{bebidas.dataValues.desc7}}
                </p>
            </td>
            <td>
                <strong>R$ {{bebidas.dataValues.valor7}}</strong>
            </td>
            <td class="options">
                <a href="#0"><i class="icon_plus_alt2"></i></a>
            </td>
        </tr>
        <tr>
            <td>
                <figure class="thumb_menu_list"><img src="img/menu-thumb-24.jpg" alt="thumb"></figure>
                <h5>4. {{bebidas.dataValues.title8}}</h5>
                <p>
                    {{bebidas.dataValues.desc8}}
                </p>
            </td>
            <td>
                <strong>R$ {{bebidas.dataValues.valor8}}</strong>
            </td>
            <td class="options">
                <a href="#0"><i class="icon_plus_alt2"></i></a>
            </td>
        </tr>
    </tbody>
</table>
</div><!-- End box_style_1 -->
</div><!-- End col-md-6 -->

<div class="col-md-3" id="sidebar">
    <div class="theiaStickySidebar">
        <div id="cart_box">
            <h3>Your order <i class="icon_cart_alt pull-right"></i></h3>
            <table class="table table_summary">
                <tbody>
                    <tr>
                        <td>
                            <a href="#0" class="remove_item"><i class="icon_minus_alt"></i></a> <strong>1x</strong>
                            Enchiladas
                        </td>
                        <td>
                            <strong class="pull-right">$11</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#0" class="remove_item"><i class="icon_minus_alt"></i></a> <strong>2x</strong>
                            Burrito
                        </td>
                        <td>
                            <strong class="pull-right">$14</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#0" class="remove_item"><i class="icon_minus_alt"></i></a> <strong>1x</strong>
                            Chicken
                        </td>
                        <td>
                            <strong class="pull-right">$20</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#0" class="remove_item"><i class="icon_minus_alt"></i></a> <strong>2x</strong>
                            Corona Beer
                        </td>
                        <td>
                            <strong class="pull-right">$9</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#0" class="remove_item"><i class="icon_minus_alt"></i></a> <strong>2x</strong>
                            Cheese Cake
                        </td>
                        <td>
                            <strong class="pull-right">$12</strong>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <div class="row" id="options_2">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                    <label><input type="radio" value="" checked name="option_2" class="icheck">Entrega</label>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                    <label><input type="radio" value="" name="option_2" class="icheck">Retirar no local</label>
                </div>
            </div><!-- Edn options 2 -->

            <hr>
            <table class="table table_summary">
                <tbody>
                    <tr>
                        <td>
                            Subtotal <span class="pull-right">R$56</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Entrega <span class="pull-right">R$10</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="total">
                            TOTAL <span class="pull-right">R$50</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>