<div class="card">
    <div class="container mt-5" background="blue">

        <div class="container" onclick="abrirMenuBebidas()">
            <div class="card">
                <div class="card-body" style="max-width: 480px;" id="titleModal">
                    <h2 class="text-center">{{bebidas.dataValues.title}}</h2>
                    <p class="mt-2">{{bebidas.dataValues.desc}}</p>
                </div>
            </div>
        </div>


        <div id="modalMenu">
            <div class="card mb-3 mt-5" style="max-width: 520px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/img/menu-thumb-21.jpg" class="card-img mt-1 ml-1" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <form action="/menu/add" method="post">
                                <input type="hidden" name="title" value="{{bebidas.dataValues.title1}}">
                                <input type="hidden" name="desc" value="{{bebidas.dataValues.desc1}}">
                                <input type="hidden" name="valor" value="{{bebidas.dataValues.valor1}}">
                                <h5 class="card-title text-center" id="titleModfy">{{bebidas.dataValues.title1}}</h5>
                                <p class="card-text text-center">{{bebidas.dataValues.desc1}}</p>
                                <p class="card-text mt-2 text-center"><small class="text-muted">R$
                                        {{bebidas.dataValues.valor1}}</small>
                                </p>
                                <button class="btn btn-danger mt-4 col-05"
                                    style="max-height: 40px; font-size: 10px; margin-left: 30%">Comprar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card mb-3" style="max-width: 520px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/img/menu-thumb-22.jpg" class="card-img mt-1 ml-1" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <form action="/menu/add" method="post">
                                <input type="hidden" name="title" value="{{bebidas.dataValues.title2}}">
                                <input type="hidden" name="desc" value="{{bebidas.dataValues.desc2}}">
                                <input type="hidden" name="valor" value="{{bebidas.dataValues.valor2}}">
                                <h5 class="card-title text-center">{{bebidas.dataValues.title2}}</h5>
                                <p class="card-text">{{bebidas.dataValues.desc2}}</p>
                                <p class="card-text mt-2"><small class="text-muted">R$
                                        {{bebidas.dataValues.valor2}}</small>
                                </p>
                                <button class="btn btn-danger mt-4 col-05"
                                    style="max-height: 40px; font-size: 10px; margin-left: 30%">Comprar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 520px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/img/menu-thumb-23.jpg" class="card-img mt-1 ml-1" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <form action="/menu/add" method="post">
                                <input type="hidden" name="title" value="{{bebidas.dataValues.title3}}">
                                <input type="hidden" name="desc" value="{{bebidas.dataValues.desc3}}">
                                <input type="hidden" name="valor" value="{{bebidas.dataValues.valor3}}">
                                <h5 class="card-title text-center">{{bebidas.dataValues.title3}}</h5>
                                <p class="card-text">{{bebidas.dataValues.desc3}}</p>
                                <p class="card-text mt-2"><small class="text-muted">R$
                                        {{bebidas.dataValues.valor2}}</small>
                                </p>
                                <button class="btn btn-danger mt-4 col-05"
                                    style="max-height: 40px; font-size: 10px; margin-left: 30%">Comprar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 520px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/img/menu-thumb-24.jpg" class="card-img mt-1 ml-1" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <form action="/menu/add" method="post">
                                <input type="hidden" name="title" value="{{bebidas.dataValues.title4}}">
                                <input type="hidden" name="desc" value="{{bebidas.dataValues.desc4}}">
                                <input type="hidden" name="valor" value="{{bebidas.dataValues.valor4}}">
                                <h5 class="card-title text-center">{{bebidas.dataValues.title4}}</h5>
                                <p class="card-text">{{bebidas.dataValues.desc4}}</p>
                                <p class="card-text mt-2"><small class="text-muted">R$
                                        {{bebidas.dataValues.valor2}}</small>
                                </p>
                                <button class="btn btn-danger mt-4 col-05"
                                    style="max-height: 40px; font-size: 10px; margin-left: 30%">Comprar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 520px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/img/menu-thumb-25.jpg" class="card-img mt-1 ml-1" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <form action="/menu/add" method="post">
                                <input type="hidden" name="title" value="{{bebidas.dataValues.title5}}">
                                <input type="hidden" name="desc" value="{{bebidas.dataValues.desc5}}">
                                <input type="hidden" name="valor" value="{{bebidas.dataValues.valor5}}">
                                <h5 class="card-title text-center">{{bebidas.dataValues.title5}}</h5>
                                <p class="card-text">{{bebidas.dataValues.desc5}}</p>
                                <p class="card-text mt-2"><small class="text-muted">R$
                                        {{bebidas.dataValues.valor2}}</small>
                                </p>
                                <button class="btn btn-danger mt-4 col-05"
                                    style="max-height: 40px; font-size: 10px; margin-left: 30%">Comprar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 520px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/img/menu-thumb-26.jpg" class="card-img mt-1 ml-1" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <form action="/menu/add" method="post">
                                <input type="hidden" name="title" value="{{bebidas.dataValues.title6}}">
                                <input type="hidden" name="desc" value="{{bebidas.dataValues.desc6}}">
                                <input type="hidden" name="valor" value="{{bebidas.dataValues.valor6}}">
                                <h5 class="card-title text-center">{{bebidas.dataValues.title6}}</h5>
                                <p class="card-text">{{bebidas.dataValues.desc6}}</p>
                                <p class="card-text mt-2"><small class="text-muted">R$
                                        {{bebidas.dataValues.valor2}}</small>
                                </p>
                                <button class="btn btn-danger mt-4 col-05"
                                    style="max-height: 40px; font-size: 10px; margin-left: 30%">Comprar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 520px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/img/menu-thumb-27.jpg" class="card-img mt-1 ml-1" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <form action="/menu/add" method="post">
                                <input type="hidden" name="title" value="{{bebidas.dataValues.title7}}">
                                <input type="hidden" name="desc" value="{{bebidas.dataValues.desc7}}">
                                <input type="hidden" name="valor" value="{{bebidas.dataValues.valor7}}">
                                <h5 class="card-title text-center">{{bebidas.dataValues.title7}}</h5>
                                <p class="card-text">{{bebidas.dataValues.desc7}}</p>
                                <p class="card-text mt-2"><small class="text-muted">R$
                                        {{bebidas.dataValues.valor2}}</small>
                                </p>
                                <button class="btn btn-danger mt-4 col-05"
                                    style="max-height: 40px; font-size: 10px; margin-left: 30%">Comprar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 520px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/img/menu-thumb-28.jpg" class="card-img mt-1 ml-1" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <form action="/menu/add" method="post">
                                <input type="hidden" name="title" value="{{bebidas.dataValues.title8}}">
                                <input type="hidden" name="desc" value="{{bebidas.dataValues.desc8}}">
                                <input type="hidden" name="valor" value="{{bebidas.dataValues.valor8}}">
                                <h5 class="card-title text-center">{{bebidas.dataValues.title8}}</h5>
                                <p class="card-text">{{bebidas.dataValues.desc8}}</p>
                                <p class="card-text mt-2"><small class="text-muted">R$
                                        {{bebidas.dataValues.valor2}}</small>
                                </p>
                                <button class="btn btn-danger mt-4 col-05"
                                    style="max-height: 40px; font-size: 10px; margin-left: 30%">Comprar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>